[submodule "arduino"]
	path = arduino
	url = git@github.com:sunfire-systems/cs460-ay2023-t2-g1-5-arduino.git
[submodule "backend"]
	path = backend
	url = git@github.com:sunfire-systems/cs460-ay2023-t2-g1-5-backend.git
[submodule "telegrambot"]
	path = telegrambot
	url = git@github.com:sunfire-systems/cs460-ay2023-t2-g1-t5-telegrambot.git
[submodule "dashboard"]
	path = dashboard
	url = git@github.com:sunfire-systems/cs460-ay2023-t2-g1-t5-dashboard.git
[submodule "mosquitto"]
  path = mqtt/mosquitto
  url = git@github.com:sunfire-systems/cs460-ay2023-t2-g1-5-mosquitto.git
